@import url('reset.css');

:root {
  --bg-color: #101113;
  --main-color: #fc600f;
  --text-color: #828795;
  --gray-bg: #697586;
  --dark-bg-1: #283039;
  --dark-bg-2: #13181f;
  --light-bg-2: #1a1f27;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 28px;
}

button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
